

.contentItem {
  display: flex;
  align-items: flex-end;

  &.withBorder:not(:last-child) {
    border-right: solid 1px #0ff;
  }

  &.center {
    justify-content: center;
    align-items: center;
  }

  span {
    display: block;
  }

  .contentIcon {
    width: .875rem;
    height: .875rem;
    background-color: #00FFFF;
    margin-right: .625rem;

    &.like {
      background: url('../../../../../assets/img/like.png') center / contain no-repeat;
    }

    &.active {
      background: url('../../../../../assets/img/active.png') center / contain no-repeat;
    }

    &.register {
      background: url('../../../../../assets/img/register.png') center / contain no-repeat;
    }

    &.active_user {
      background: url('../../../../../assets/img/active_user.png') center / contain no-repeat;
    }

    &.meet_average {
      background: url('../../../../../assets/img/meet_average.png') center / contain no-repeat;
    }

    &.av_stay {
      background: url('../../../../../assets/img/av_stay.png') center / contain no-repeat;
    }

    &.meet_people {
      background: url('../../../../../assets/img/meet_people.png') center / contain no-repeat;
    }

    &.meet_comment {
      background: url('../../../../../assets/img/meet_comment.png') center / contain no-repeat;
    }

    &.meet_like {
      background: url('../../../../../assets/img/meet_like.png') center / contain no-repeat;
    }
  }

  .contentTitle {
    font-size: 1rem;
    line-height: 1rem;
    color: #00FFFF;
    margin-right: .625rem;
  }

  .contentData {
    font-size: 1.875rem;
    line-height: 1.875rem;
    color:white;
  }
}
