

.contentItem {
  display: flex;
  align-items: flex-end;

  span {
    display: block;
  }

  .contentIcon {
    width: .875rem;
    height: .875rem;
    background-color: #00FFFF;
    margin-right: .625rem;
  }

  .contentTitle {
    font-size: .875rem;
    line-height: .875rem;
    color: #00FFFF;
    margin-right: .625rem;
  }

  .contentData {
    font-size: 1.875rem;
    line-height: 1.875rem;
    color:white;
  }
}
