

.contentItem {
  display: flex;
  align-items: flex-end;

  span {
    display: block;
  }

  .contentIcon {
    width: 14px;
    height: 14px;
    background-color: #00FFFF;
    margin-right: 6px;
  }

  .contentTitle {
    font-size: 14px;
    line-height: 14px;
    color: #00FFFF;
    margin-right: 6px;
  }

  .contentData {
    font-size: 30px;
    line-height: 30px;
    color:white;
  }
}
