@import '~antd/es/style/themes/default.less';


.bg {
  width: 100%;
  height: 100%;
  background-image: url('../../../../../assets/img/bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 0;

  .screenTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 3.75rem;
  }

  h2 span {
    display: block;
  }

  .icon {
    width: 1.75rem;
    height: 1.75rem;
    background-color: red;
    margin-right: 1.125rem;
  }

  .titleContent {
    font-size: 1.75rem;
    color: white;
    line-height: 1.75rem;
  }
}
