.container {
  // padding: 1.875rem;
}

.title {
	display: flex;
	align-items: center;
	height: 2.5rem;
	padding-right: 1.875rem;
	padding-left: .625rem;

	.titleContainer {
		display: flex;
		align-items: center;
		margin-left: .625rem;
	}

	span {
		display: inline-block;
	}

	.titleIcon {
		width: 1.125rem;
		height: 1.125rem;
		background-color: #0ff;
		margin-right: .625rem;
	}

	.titleName {
		font-size: 1.125rem;
	}
}

.doctorInfo {
  padding: 30px;

  .doctorName {
    font-size: 30px;
    color: #0ff;
  }

  .infoItem, .labelItem {
    display: flex;
    align-items: center;
  }

  .infoIcon, .labelIcon {
    width: 12px;
    height: 12px;
    background-color: #0ff;
    margin-right: 8px;
  }

  .infoText {
    font-size: 22px;
    color: #0ff;
    font-weight: normal;
    
  }

  .labelTitle {
    font-size: 18px;
    color: #0ff;
    margin-top: 20px;
  }

  .labelText {
    font-weight: normal;
    font-size: 16px;
    color: white;
  }

  .labelItem:last-child {
    .labelIcon {
      align-self: baseline;
    }
  }
}

.contentCenterBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 30px;

  .centerItem {
    display: flex;
    align-items: center;
    line-height: 29px;
  }

  .centerIcon {
    width: 12px;
    height: 12px;
    background-color: #0ff;
  }

  .centerTitle {
    font-size: 16px;
    color: white;
    margin-left: 8px;
  }

  .centerData {
    font-size: 29px;
    color: #FCEE21;
    margin-left: 12px;
  }
}