@import '~antd/es/style/themes/default.less';


.container {
  padding: 1.875rem;
  padding-bottom: 0;
}

.normalCard {
  border: solid 1px #00FFFF;
  padding: .75rem;

  .cardSubTitle {
    display: flex;
    align-items: center;

    span {
      display: block;
    }
  }

  .cardSubIcon {
    width: 1rem;
    height: 1rem;
    background-color: #00FFFF;
    margin-right: .5rem;

    &.hospIcon {
      background: url('../../../assets/img/hosp_icon.png') center / contain no-repeat;
    }

    &.cupIcon {
      background: url('../../../assets/img/cup_icon.png') center / contain no-repeat;
    }
  }

  .subTitleCotent {
    font-size: 1.25rem;
    color: #00FFFF;
  }

  .grid-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 0.2em;
  }

  .grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 0.2em;
  }
}

.cardSubTitle {
  display: flex;
  align-items: center;

  span {
    display: block;
  }
}

.cardSubIcon {
  width: 1rem;
  height: 1rem;
  background-color: #00FFFF;
  margin-right: .5rem;

  &.hospIcon {
    background: url('../../../assets/img/hosp_icon.png') center / contain no-repeat;
  }

  &.cupIcon {
    background: url('../../../assets/img/cup_icon.png') center / contain no-repeat;
  }
}

.subTitleCotent {
  font-size: 1.25rem;
  color: #00FFFF;
}

.cardRadius {
  border: solid 1px #00FFFF;
  padding: .75rem;
  border-top-right-radius: 1em;
}

.cardContent {
  padding: 1.125rem;
  padding-top: .625rem;
  border-top: solid 1px #00FFFF;
  margin: 0 2px;

  &.noBorder {
    border-top: 0;
  }
}

.showContent {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.loadingContainer {
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: .75rem;
}

.grid-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 0.2em;
}

.grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 0.2em;
}

.paddingContent {
  padding: .5rem 1.25rem 1rem;
}

.userTimeTitle {
  position: relative;
  display: flex;
  padding: .125rem 1.5rem;

  .timeTitle {
    display: flex;
    align-items: center;

    > * {
      display: inline-block;
    }

    .clockIcon {
      width: 14px;
      height: 14px;
      background: url('../../../assets/img/clock.png') center / contain no-repeat;
    }

    span {
      font-size: 1rem;
      color: #0ff;
      margin-left: .5rem;
    }
  }

  .timePeriod {
    width: 12.125rem;
    font-size: .75rem;
    line-height: 1.875rem;
    height: 1.875rem;
    text-align: center;
    color: #0ff;
    background: linear-gradient(to bottom, #1E6CAA, #075996) center / cover no-repeat;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;

  }
}

.timeChart {
  min-height: 5rem;
}

.map {
  background: url('../../../assets/img/page1_ruler.png') center / 96% no-repeat,
  url('../../../assets/img/map.png') center / 80% no-repeat;
  height: 30.75rem;
  margin-top: 1.5rem;
  position: relative;
}

.mapTabs {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: baseline;
  color: rgba(0, 255, 255, 0.479);

  li {
    font-weight: bold;
    margin: 0 14px;
    cursor: pointer;

    &.active {
      color: #0ff;
      font-size: 20px;
      position: relative;
      padding: 8px 0;

      &::after {
        content: '';
        position: absolute;
        height: 4px;
        width: 80%;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #0ff;
        margin: auto;
      }
    }
  }
}
