@import '~antd/es/style/themes/default.less';


.container {
  padding: 1.875rem;
}

.normalCard {
  border: solid 1px #00FFFF;
  padding: .75rem;

  .cardSubTitle {
    display: flex;
    align-items: center;

    span {
      display: block;
    }
  }

  .cardSubIcon {
    width: 1rem;
    height: 1rem;
    background-color: #00FFFF;
    margin-right: .5rem;
  }

  .subTitleCotent {
    font-size: 1.25rem;
    color: #00FFFF;
  }

  .grid-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 0.2em;
  }

  .grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 0.2em;
  }
}

.cardRadius {
  border: solid 1px #00FFFF;
  padding: .75rem;
  border-top-right-radius: 1em;
}

.cardContent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 0.2em;
}

.showContent {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
