
.borderContainer {
	position: relative;
	border: solid 1px #00FFFF;
}

.corner {
	position: absolute;
	width: 1.25rem;
	height: 1.25rem;

	&.topLeft {
		border-top: solid .25rem #0ff;
		border-left: solid .25rem #0ff;
		left: -.125rem;
		top: -.125rem;
	}

	&.topRight {
		border-top: solid .25rem #0ff;
		border-right: solid .25rem #0ff;
		right: -.125rem;
		top: -.125rem;
	}

	&.bottomRight {
		border-bottom: solid .25rem #0ff;
		border-right: solid .25rem #0ff;
		right: -.125rem;
		bottom: -.125rem;
	}

	&.bottomLeft {
		border-bottom: solid .25rem #0ff;
		border-left: solid .25rem #0ff;
		left: -.125rem;
		bottom: -.125rem;
	}
}