@import '~antd/es/style/themes/default.less';

.title-container {
  width: 100%;
  position: relative;
}

.radius {
  border-top-left-radius: .5em;
  border-top: solid .1em #08feff;
  border-left: solid .1em #08feff;
}

.conner {
  width: 0;
  height: 0;
}
