
.container {
  padding: 1.875rem;
} 

.title {
	display: flex;
	align-items: center;
	height: 2.5rem;
	padding-right: 1.875rem;
	padding-left: .625rem;

	.titleContainer {
		display: flex;
		align-items: center;
		margin-left: .625rem;
	}

	span {
		display: inline-block;
	}

	.titleIcon {
		width: 1.125rem;
		height: 1.125rem;
		background-color: #0ff;
		margin-right: .625rem;
	}

	.titleName {
		font-size: 1.125rem;
	}
}

.shareContainer {
	padding: 16px 40px;

	.shareItem {
		display: flex;
	}

	.shareIcon {
		width: 14px;
		height: 14px;
		background: #0ff;
		margin-right: 8px;
		align-self: baseline;
	}

	.shareName {
		font-size: 18px;
		color: #0ff;
	}

	.shareContent {
		font-size: 18px;
		color: #fff;
	}
}

.grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 0.2em;
}